# ignore any tpx3 files
*.tpx3

# ignore all __pycache__
__pycache__

# ignore any .gif files
*.gif

# ignore any tiff image files
*.tiff
*.tif

# ignore any .vscode files
.vscode/*

# ignore all .o files
*.o

# ignore all .DS_Store files. 
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# hermes logs
*hermes.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
src/*.egg-info/
.installed.cfg
*.egg
MANIFEST