############################################
# This is a config file for the cHermes code
############################################
inputTPX3File=/path/to/tpx3/file
rawTPX3File=Your.tpx3.file 
verboseLevel=2                    
writeRawSignals=false               
outputFolder=output                
maxBuffersToRead=50                
sortSignals=true                  
clusterPixels=true
writeOutPhotons=true                
epsSpatial=2                        
epsTemporal=50E-9                  
minPts=2                            
fillHistograms=false       