############################################
# This is a config file for the cHermes code
############################################
inputTPX3File=/path/to/tpx3/file
sortSignals=flase
clusterToPhotons=flase
epsSpatial=4
epsTemporal=100E-9
minPts=2
fillHistograms=false
writeRawSignals=false
verbose=false