############################################
# This is a config file for the cHermes code
############################################
rawTPX3Folder=/path/to/tpx3/file
rawTPX3File=Your.tpx3.file 
verboseLevel=3          
writeRawSignals=true               
outputFolder=output                
maxPacketsToRead=10000              
sortSignals=true                  
clusterPixels=true
queryRegion=100                
epsSpatial=2                        
epsTemporal=50E-9                  
minPts=2      
writeOutPhotons=true                       
fillHistograms=false        