# Path to folder with .tpx3 files
rawTPX3Folder = /home/fp05user/DATA/data_process2/data/RC25/SourceTest/Unpacker_tests/tpx3Files

# File to process (or use ALL for batch mode)
rawTPX3File = ALL

# Output directory
outputFolder = /home/fp05user/DATA/data_process2/data/RC25/SourceTest/Unpacker_tests/rawSignalFiles

# Signal processing options
writeRawSignals = true
sortSignals = true
fillHistograms = false
clusterPixels = false
writeOutPhotons = true

# Verbosity level
verboseLevel = 2

# Packet limits, set to 0 to unpack all packets
maxPacketsToRead = 0

# Clustering parameters
queryRegion = 0
epsSpatial = 2
epsTemporal = 500.0
minPts = 3
