#ignore all text files. 
*.txt

# ignore any tpx3 files
*.tpx3

# ignore all __pycache__
__pycache__

# ignore any .gif files
*.gif

# ignore any tiff image files
*.tiff
*.tif
*.png
*.avi
*.mp4

# ignore any .vscode files
.vscode/*

# ignore all .o files
*.o